<nav class="nav" role="navigation">
	<div class="container">
		<div class="logo">
			<a href="#">
				<svg>
					<use xlink:href="#shape-flyit-logo">
					</use>
				</svg>
			</a>
		</div>
		<div class="head_contact">
			<h2>415 845-8163</h2>
			<h3>info@flyit4u.com</h3>
		</div>
		<ul class="navigation">
			<li><a href="#sevices">Services</a></li>
			<li><a href="#testimonials">Testimonials</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#quote">Get a Quote</a></li>
		</ul>
	</div>
</nav>